/*
* u-tilities.css
* If you're using the entire package,
* follow the instructions in package.css.
*/

.u-block { display: block !important; }
.u-flex { display: flex !important; }
.u-inline { display: inline !important; }
.u-inlineChildren > * { display: inline !important; }
.u-inlineBlock { display: inline-block !important; }
.u-hidden { display: none !important; }
.u-invisible { visibility: hidden !important; }

.u-clearfix { overflow: auto !important; zoom: 1 !important; }
.u-overflowHidden { overflow: hidden !important; }
.u-overflowXHidden { overflow-x: hidden !important; }
.u-overflowYHidden { overflow-y: hidden !important; }

.u-noMargin { margin: 0 !important; }
.u-noPadding { padding: 0 !important; }

.u-cursorDefault { cursor: default !important; }
.u-cursorPointer { cursor: pointer !important; }
.u-cursorText { cursor: text !important; }

.u-floatLeft { float: left !important; }
.u-floatRight { float: right !important; }

.u-alignBaseline { vertical-align: baseline !important; }
.u-alignSub { vertical-align: sub !important; }
.u-alignSuper { vertical-align: super !important; }
.u-alignTop { vertical-align: top !important; }
.u-alignMiddle { vertical-align: middle !important; }
.u-alignBottom { vertical-align: bottom !important; }

.u-posAbsolute { position: absolute !important; }
.u-posFixed { position: fixed !important; }
.u-posRelative { position: relative !important; }

.u-scale2x { transform: scale(2) !important; }
.u-scale3x { transform: scale(3) !important; }
.u-scale4x { transform: scale(4) !important; }
.u-scale5x { transform: scale(5) !important; }
.u-scale6x { transform: scale(6) !important; }

.u-rotate45 { transform: rotate(45deg) !important; }
.u-rotate90 { transform: rotate(90deg) !important; }
.u-rotate135 { transform: rotate(135deg) !important; }
.u-rotate180 { transform: rotate(180deg) !important; }
.u-rotate225 { transform: rotate(225deg) !important; }
.u-rotate270 { transform: rotate(270deg) !important; }
.u-rotate315 { transform: rotate(315deg) !important; }
.u-rotate360 { transform: rotate(360deg) !important; }

.u-opacity1 { opacity: .1 !important; }
.u-opacity2 { opacity: .2 !important; }
.u-opacity3 { opacity: .3 !important; }
.u-opacity4 { opacity: .4 !important; }
.u-opacity5 { opacity: .5 !important; }
.u-opacity6 { opacity: .6 !important; }
.u-opacity7 { opacity: .7 !important; }
.u-opacity8 { opacity: .8 !important; }
.u-opacity9 { opacity: .9 !important; }

.u-textCenter { text-align: center !important; }
.u-textJustify { text-align: justify !important; }
.u-textRight { text-align: right !important; }
.u-textUppercase { text-transform: uppercase !important; }
.u-textLowercase { text-transform: lowercase !important; }
.u-textIndent { text-indent: 6rem !important; }
.u-textNoDecoration { text-decoration: none !important; }
.u-textBreakAll { word-break: break-all !important; }
.u-textKeepAll { word-break: keep-all !important; }
.u-textTruncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
